<%= form_with(model: kitten) do |form| %>
  <% if kitten.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kitten.errors.count, "error") %> prohibited this kitten from being saved:</h2>

      <ul>
        <% kitten.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name, 'Name: ' %>
  <%= form.text_field :name %>
  <%= form.label :age, 'Age: ' %>
  <%= form.number_field :age %>
  <%= form.label :cuteness, 'Cuteness: ' %>
  <%= form.number_field :cuteness %>
  <%= form.label :softness, 'Softness: ' %>
  <%= form.number_field :softness %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
